{
  "*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.tsx": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.vue": [
    "prettier --parser=vue --write",
    "eslint --fix"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.scss": [
    "stylelint --syntax=scss"
  ]
}
