.form-control,
.custom-select {
  color: $secondary;
  border: 1px solid $secondary;
}

.b-form-btn-label-control.form-control > .form-control {
  white-space: nowrap;
}

.form-control:disabled, .form-control[readonly],
.b-form-btn-label-control.form-control[aria-disabled="true"],
.b-form-btn-label-control.form-control[aria-readonly="true"] {
  background-color: $pink-bg;
}

.b-form-spinbutton {
  background-color: transparent;
  border-radius: 15px;

  .btn:hover {
    color: $primary;
  }
}

.input-group-text {
  color: $secondary;
  background-color: $grey;
  border: 1px solid $secondary;
}

.custom-file {
  height: $image-size;
  width: $image-size;

  .custom-file-input,
  .custom-file-label {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    border: 1px dashed $secondary;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      border: 1px solid $secondary;
    }

    .form-file-text {
      color: $grey;
      text-align: center;
      white-space: break-spaces;
    }
  }

  .custom-file-label::before {
    content: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.8216 0C44.3011 0 50 5.94236 50 14.7845V35.2155C50 44.0576 44.3011 50 35.8216 50H14.1533C5.68637 50 0 44.0576 0 35.2155V14.7845C0 5.94236 5.68637 0 14.1533 0H35.8216ZM35.8216 3.7594H14.1533C7.83818 3.7594 3.75752 8.08772 3.75752 14.7845V35.2155C3.75752 41.9148 7.83818 46.2406 14.1533 46.2406H35.8216C42.1518 46.2406 46.2425 41.9148 46.2425 35.2155V14.7845C46.2425 8.08772 42.1518 3.7594 35.8216 3.7594ZM37.4223 25.3118C37.4382 25.3247 37.4538 25.3375 37.4864 25.368L37.5348 25.4142C37.5446 25.4237 37.5554 25.4342 37.5672 25.4458L37.7071 25.5847C38.1588 26.0373 39.4075 27.3132 43.1288 31.1363C43.8527 31.8782 43.8402 33.0687 43.0962 33.793C42.3547 34.5223 41.1623 34.4998 40.4384 33.7579C40.4384 33.7579 35.3056 28.4872 34.9399 28.1313C34.5516 27.813 33.9279 27.6276 33.3141 27.6877C32.6904 27.7504 32.1293 28.0486 31.731 28.5323C25.9093 35.5975 25.8392 35.6652 25.744 35.7579C23.5947 37.8682 20.1253 37.8331 18.0135 35.6777C18.0135 35.6777 15.6839 33.3118 15.6438 33.2642C15.0651 32.7278 14.0331 32.7629 13.4143 33.417L9.58166 37.4596C9.21092 37.8506 8.71493 38.0461 8.21894 38.0461C7.75301 38.0461 7.28958 37.8757 6.92635 37.5298C6.17234 36.818 6.14228 35.6251 6.85621 34.8757L10.6839 30.8331C12.7104 28.6802 16.1298 28.5749 18.2916 30.605L20.6914 33.0411C21.3602 33.7178 22.4474 33.7303 23.1187 33.0687C23.3717 32.7704 28.8277 26.1414 28.8277 26.1414C29.8647 24.8832 31.3277 24.1063 32.9534 23.9459C34.5817 23.803 36.1623 24.2767 37.4223 25.3118ZM16.4284 11.6013C19.8903 11.6038 22.7034 14.4208 22.7034 17.8769C22.7034 21.3381 19.8878 24.1551 16.4284 24.1551C12.9689 24.1551 10.1558 21.3381 10.1558 17.8769C10.1558 14.4158 12.9689 11.6013 16.4284 11.6013ZM16.4259 15.3607C15.0406 15.3607 13.9133 16.4885 13.9133 17.8769C13.9133 19.2654 15.0406 20.3957 16.4284 20.3957C17.8161 20.3957 18.9459 19.2654 18.9459 17.8769C18.9459 16.491 17.8161 15.3632 16.4259 15.3607Z' fill='%23D0D5DD'/%3E%3C/svg%3E%0A");
  }

  .custom-file-label::after {
    position: unset;
    top: unset;
    right: unset;
    bottom: unset;
    z-index: unset;
    display: unset;
    height: unset;
    padding: unset;
    line-height: unset;
    color: unset;
    content: unset;
    background-color: unset;
    border-left: unset;
    border-radius: unset;
  }

  .custom-file-input ~ .custom-file-label[data-browse]::after {
    content: unset;
  }
}

.form-thumbnail {
  .invalid-feedback {
    width: $image-size;
  }
}

.upload-image-preview {
  width: $image-size;
  height: $image-size;
}

.upload-image-new {
  width: $image-size;
  height: $image-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    width: 25px;
    height: 25px;
    margin-bottom: 0.5rem;
  }
}
