// Sass variables
$primary: #FF5C8D;
$secondary: #524A4E;

$pink-bg: #FDEFF4;
$pink-bg-darker: #FFC0D3;

$grey: #8D98AF;

$success: #34C759;
$danger: #FF9500;
$info: #347AE2;
$danger: #FF3B30;

$text-disable: #c19ebc;
$background-disable: #f6f0f6;

$font-small: 12px;
$font-medium: 16px;
$font-large: 20px;
$font-super: 32px;

$header-height: 66px;
$footer-height: 24px;

$admin-header-height: 90px;
$admin-sidebar-width: 280px;

$image-size: 175px;

$box-shadow-normal: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
$box-shadow-hover: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
$box-shadow-active: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
